* {
  margin: 0%;
  padding: 0%;
  font-family: "Poppins";
}

body{
  background-color: rgba(9, 4, 5, 0.995)
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

nav{
  background-color: crimson;
  color: whitesmoke;
  padding: 15px;
  text-align: center;
  font-size: 1.25rem;
}

.container{
  background-color:rgb(244, 237, 237);
  width: 70%;
  margin: auto;
  min-height: 100vh;
  padding: 4vmax;
  box-sizing: border-box;
}

.container > h1{
  text-align: center;
  margin: 15px;
}

.container > form {
  display: flex;
  flex-direction: column;
}

input,textarea,button{
  padding: 15px;
  border: 1px solid rgba(0, 0, 0, 0.214);
  border-radius: 5px;
  margin: 7.5px 0;
}

button{
  border: none;
  cursor: pointer;
  background-color: rgba(28, 28, 28, 0.722);
  color: aliceblue;
}

.task{
  display: flex;
  align-items: center;
  background-color: whitesmoke;
  padding: 20px;
  border-radius: 5px;
  margin: 15px 0;
}

.task > div{
  width: 100%;
}

.task p{
  font-weight: bold;
}

/* .task span{
  color:rgba(31, 30, 30, 0.611);
} */

.task button{
  border-radius: 100%;
  width: 30px;
  height: 30px;
  font-size: 1.25rem;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}

.task button:hover{
  background-color: rgb(186, 0, 0);
}